<h1>Privacy Policy</h1>
This is an educational application, please use it at your own risk. We won't permanently store data or sell it, but by using this application you agree that it may not be very secure. 

<h1>Terms of Use</h1>
This is an educational application, please use it at your own risk. We won't permanently store data or sell it, but by using this application you agree that it may not be very secure. 