.rounded {
	border-radius: 500px;
}

.pushDownFull {
	height: 100vh;
	width: 100vw;
}

.smol-margin {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 10px;
}

.smol-bottom-margin {
	margin-bottom: 10px;
}

::-webkit-scrollbar {
display: none;
}

.smol-img{
	height: 150px;
	width: auto;
}

/*.devour{
	width: 150px;
}*/

.smol-padding-sides{
	padding-right: 11.25px;
	padding-left: 11.25px;
}

.no-side-padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.modal-custom {
	width: 300px !important;
	height: auto !important;
}

.modal-content-custom {
	padding-bottom: 0px !important;
}

.smol-bottom-margin {
	margin-bottom: 10px !important;
}

.smol-top-margin {
	margin-top: 10px !important;
}

.label-custom {
	position: static;
}

.square, .cover {
	object-fit: cover;
}

.closet-img-padding {
	padding: 5px 5px 0px 5px !important;
}

.margin-top {
	margin-top: 10px;
}

.text-five {
	font-size: 5rem;
}

.text-two {
	font-size: 2rem;
}

.no-top-margin {
	margin-top: 0px !important;
}

.no-bottom-margin {
	margin-bottom: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

.halfHeight {
	min-height: 50vh;
}

.modal-image {
	width: calc(50%);
}

.modal-content {
	top: 0;
	position: fixed;
}
