.avatar-border {
	border: solid 1px;
}

.rounded {
	border-radius: 500px;
}

.pushDownFull {
	height: 100vh;
	width: 100vw;
}

.smol-margin {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 10px;
}

.smol-bottom-margin {
	margin-bottom: 10px;
}

::-webkit-scrollbar {
display: none;
}

.smol-img{
	height: 150px;
	width: auto;
}

/*.devour{
	width: 150px;
}*/

.smol-padding-sides{
	padding-right: 11.25px;
	padding-left: 11.25px;
}

.no-side-padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.modal-custom {
	width: 300px !important;
	height: auto !important;
}

.modal-content-custom {
	padding-bottom: 0px !important;
}

.smol-bottom-margin {
	margin-bottom: 10px !important;
}

.smol-top-margin {
	margin-top: 10px !important;
}

.smol-left-margin {
	margin-left: 10px !important;
}

.smol-right-margin {
	margin-right: 10px !important;
}

.label-custom {
	position: static;
}

.square, .cover {
	object-fit: cover;
}

.closet-img-padding {
	padding: 10px 10px 0px 10px !important;
	margin-bottom: 10px;
}

.margin-top {
	margin-top: 20px;
}

.text-five {
	font-size: 1rem;
}

.text-two {
	font-size: 2rem;
}

.no-top-margin {
	margin-top: 0px !important;
}

.no-bottom-margin {
	margin-bottom: 0px !important;
}

.no-left-margin {
	margin-left: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

.halfHeight {
	min-height: 50vh;
}

.modal-image {
	width: calc(50%);
}

.modal-content-mycloset {
	top: 0;
	position: fixed;
}

.square-div {
	background-color: rgba(0, 0, 0, 0.2);
	background-clip:content-box;
	overflow: hidden;
}

.no-line-height {
	line-height: 0px;
	overflow-y: hidden !important;
}

.square {
	/*-webkit-filter: brightness(100%);	*/
/*	-webkit-transition: filter .5s ease;
	-moz-transition: filter .5s ease;
	-o-transition: filter .5s ease;
	-ms-transition: filter .5s ease;
	transition: filter .5s ease;    */
}

/*.square:hover {
	-webkit-filter: brightness(40%);
	-webkit-transition: filter .5s ease;
	-moz-transition: filter .5s ease;
	-o-transition: filter .5s ease;
	-ms-transition: filter .5s ease;
	transition: filter .5s ease;
}*/

.square-div {
	position: relative;
}

.img-update-button {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-30%, -50%);
	-ms-transform: translate(-30%, -50%);

	opacity: 0;
/*	-webkit-transition: filter .25s ease;
	-moz-transition: filter .25s ease;
	-o-transition: filter .25s ease;
	-ms-transition: filter .25s ease;
	transition: opacity .25s ease;*/
}

.img-delete-button {
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-70%, -50%);
	-ms-transform: translate(-70%, -50%);

	opacity: 0;
/*	-webkit-transition: filter .25s ease;
	-moz-transition: filter .25s ease;
	-o-transition: filter .25s ease;
	-ms-transition: filter .25s ease;
	transition: opacity .25s ease;*/
}

.square, .img-update-button, .img-delete-button, .img-name-hover {
	-webkit-transition: filter .25s ease;
	-moz-transition: filter .25s ease;
	-o-transition: filter .25s ease;
	-ms-transition: filter .25s ease;
	transition: filter .25s ease;    
}

.img-name-hover {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 2rem;
	position: absolute;
	color: white;
	width: 100%;
	top: 5%;
	left: 0%;
/*	transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);*/
	text-align: center;

	opacity: 0;
/*	-webkit-transition: filter .25s ease;
	-moz-transition: filter .25s ease;
	-o-transition: filter .25s ease;
	-ms-transition: filter .25s ease;
	transition: opacity .25s ease;*/
}

.unselectable {
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fafafa {
	background-color: #fafafa;
}

.logo-img {
	height: 64px;
}

.hidden {
	visibility: hidden;
	display: none;
}

.avatar-size {
}

#sidenav-overlay {
	height: 0vh;
}